fastapi>=0.111.0 #API
uvicorn[standard]>=0.29.0 #Run FastAPI
pandas>=2.2.2 #Data 
rapidfuzz>=3.9.2 #String Matching
numpy>=2.2.4 #Numerical Operations
scikit-learn>=1.5.2 #TF-IDF & Cosine Similarity
python-multipart>=0.0.12#File Uploads
mysql-connector-python>=9.0.0 #Database Connection
python-dotenv>=1.0.1 #Environment Variables